
/*Developpé par Pierre Richard Saint Louis
Groupe 20: Cours de programmation web client*/

/*Ces regles permettent d'eliminer les marges et padding indesirables */
*{
    margin: 0;
    padding: 0;
    max-width: 100%; 
    box-sizing: border-box;
}


html, body{
    
    min-height: 100vh;
}

/*Les proprietés body et main permettent de garder le footer en bas et au main d'occuper tout l'espace vide*/
body{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    
}


main{
    
   flex: 1;
}


/*En tete de la page, on trouve le logo, le nom de la garderie et les icones reseaux sociaux*/
#PremierBar{
    
   background-color: rgb(156, 194, 252);
   display: flex;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 1000;
   width: 100%;
   padding: 2rem;
  
}

#ContainerLogo img{
    
   max-height: auto;
   height: 7rem;
   max-width: 17rem;
   display: block;
   padding: 1rem;

}

#ContainerReseauxSociaux ul{
    
   display: flex;
   gap: 2rem;
   justify-content: end;
   list-style-type: none;
   margin: 1rem;
   flex-wrap: wrap;

}


#PremierBar div h1{
    
   font-family: fantasy;
   font-style: italic;
   font-weight: bold;
   font-size: clamp(2rem , 2vh , 2rem);
   flex-wrap: wrap;
   color: rgb(35, 35, 142);
   text-align: center;
   
}


#PremierBar div p{
    
   font-family: fantasy;
   font-style: italic;
   font-weight: bold;
   font-size: clamp(1.5rem , 2vh , 1.5rem);
   flex-wrap: wrap;
   color: rgb(35, 35, 142);
   text-align: center;
   
}

/*Les blocs suivants concernent la stylisation du Bar de menu de la page*/
nav ul{
    
   background-color:rgb(0, 204, 102);
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   gap: 2rem;
   flex-wrap: wrap;
   padding: 2rem;
   
}

nav ul li a{ 
  font-family: 'Times New Roman', Times, serif;
  text-decoration-line : none ;
  font-weight: bold;
  color: #242c3b;
  font-size: clamp(1.2rem, 2vh, 1.7rem);
  gap: 1rem;
}

#hero img{
    
   height: 35rem;
   width: 100%;
   display: block;
   background-size: cover;
   max-width: auto;
   min-height: 100%;
}


#bloc1{
    
   display: flex;
   flex-direction: column;
   background-color: rgb(204, 153, 0);
   justify-items: center;
   box-shadow: darkorange;
   padding: 10rem;
   align-items: center;
   margin-left: 20rem;
   margin-right: 20rem;
   width: 60rem;
   
}


#bloc1 h2{
    
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: clamp(1.5rem, 2vh, 1.8rem);
   text-decoration-line: underline;
   color: #0e1421;
   flex-wrap: wrap;
}


#bloc1 h3{
    
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: clamp(1.6rem, 2vh, 1.8rem);
   text-decoration-line: underline;
   color: #2a4c92;
   flex-wrap: wrap;
   text-align: left;
   margin-top: 1rem;
   
}


#bloc1 p{
    
   font-family: 'Times New Roman', Times, serif;
   font-weight: 300;
   font-size: clamp(1.4rem, 2vh, 1.8rem);
   color: #0f1116;
   flex-wrap: wrap;
   max-width: 40rem;
   text-align: justify;
   margin-top: 1rem;
}


#bloc1 ul li{
    
   font-family: 'Times New Roman', Times, serif;
   font-weight: 300;
   font-size: clamp(1.3rem, 2vh, 1.8rem);
   color: #0f1116;
   flex-wrap: wrap;
   max-width: 20rem;
   text-align: justify;
   margin-top: 1rem;
}

#bloc2{
    
   display: flex;
   flex-wrap: wrap;
   margin-top: 5rem;
   max-width: auto;
   height: 30rem;
   margin-bottom: 3rem;
   justify-content: center;
}

#bloc2 div img{
    
   height: 38rem;
   width: 45rem;
   max-width: 100%;
   min-height: auto;
   margin-top: 2rem;
}

#bloc2 #texte{
    
  background-color: chocolate;
  padding: 3rem;
  height: 40rem;
}


#bloc2 #texte p{
    
    font-family: 'Times New Roman', Times, serif;
   font-weight: 300;
   font-size: clamp(1.5rem, 2vh, 1.8rem);
   color: #0f1116;
   flex-wrap: wrap;
   max-width: 40rem;
   text-align: justify;
   margin-top: 1rem;
  
}


#bloc2 #texte h4{
    
    font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: clamp(1.5rem, 2vh, 1.8rem);
   color: #050d22;
   flex-wrap: wrap;
   max-width: 40rem;
   text-align: justify;
   margin-top: 1rem;
  
}


#bloc3{
    
   display: flex;
   flex-direction: column;
   max-width: auto;
   height: 50rem;
   margin-top: 5rem;
   margin-bottom: 15rem;
   align-items: center;
   border: 30px solid white;
   border-radius: 10px;
}


#bloc3 div img{
    
  height: 38rem;
  width: 55rem;
   max-width: 100%;
   min-height: auto;
   margin-top: 1rem;
}


#bloc3 #texte2 h4{
    
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: clamp(1.5rem, 2vh, 1.8rem);
   color: #050d22;
   flex-wrap: wrap;
   max-width: 40rem;
   text-align: justify;
   margin-top: 1rem;
  
}


#bloc3 #texte2{
    
   background-color: #ff9999;
   padding: 4rem;
   height: 35rem;
   max-height: auto;
   max-width: auto;
   width: 55rem;
   margin-bottom: 4rem;
  max-width: auto;
}

#bloc3 #texte2 p{
    
   font-family: 'Times New Roman', Times, serif;
   font-weight: 300;
   font-size: clamp(1.5rem, 2vh, 1.8rem);
   color: #0f1116;
   flex-wrap: wrap;
   max-width: 60rem;
   text-align: justify;
   margin-top: 1rem;
  
}


#back{
  
  margin-top: 35rem;
  padding-top: 5rem;
  padding-bottom: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/equipe2.png)
  
}


#back p{
  
  font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: clamp(2rem, 2vh, 1.8rem);
   color: #0f1116;
   flex-wrap: wrap;
   max-width: 50rem;
   text-align: center;
   
  
}




/*Les blocs css qui vient apres concernent la stylisation du footer*/
footer #ContainerFooter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
  border-top: 30px solid rgb(217, 148, 102);
  margin-top: 17rem;
}

#PetitContainerFooter1{
  
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  padding-bottom: 2rem;
  background-color: rgb(0, 204, 102)
 

}


#PetitContainerFooter1 p{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1rem , 2vh, 2rem);
  flex-wrap: wrap;
  color: #242c3b;
  font-weight: bold;
  max-width: 20rem;
  text-align: justify;
 
}


#PetitContainerFooter1 ul li{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1rem , 2vh, 2rem);
  flex-wrap: wrap;
  color: #003399;
  font-weight: bold;
  list-style-type: square;
 

}

.PetitContainerFooter2{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #d6f5d6;
  padding: 3rem;
  margin-top: 0rem;

}


.PetitContainerFooter2 h5{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1.4rem , 2vh, 2rem);
  flex-wrap: wrap;
  background-color: rgb(51, 102, 255);
  color: #003399;
  margin-top: 2rem;
  font-weight: bold;
  
}


.PetitContainerFooter2 p{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1rem , 2vh, 2rem);
  flex-wrap: wrap;
  color: #003399;
  margin-top: 2rem;
  font-weight: bold;
  
}


.PetitContainerFooter2 ul li{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1.1rem , 2vh, 2rem);
  flex-wrap: wrap;
  color: #11203d;
  font-weight: bold;
  list-style-type: square;
  text-decoration-line: none;
}

.PetitContainerFooter2 ul li a{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1rem , 2vh, 2rem);
  flex-wrap: wrap;
  color: #003399;
  font-weight: bold;
  list-style-type: square;
  text-decoration-line: none;
}


#Enhaut{
  
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color:  rgb(0, 204, 102);
  align-items: end;
  border-bottom: 20px solid rgb(217, 148, 102);

}


#Enhaut p{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1rem , 2vh, 2rem);
  flex-wrap: wrap;
  color: #003399;
  margin-top: 2rem;
  font-weight: bold;
  

}


#Enhaut a{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1rem , 2vh, 2rem);
  flex-wrap: wrap;
  color: #122344;
  font-weight: bold;
  

}


/*Developpé par Pierre Richard Saint Louis*/