
 /* Cette page de responsivité sert a permettre a la page index.html web de naviguer correctement sur les appareils comme mobile
 , tablette et laptop. Les deux premieres parties ont été devloppées par Pierre Richard Saint Louis*/


  /*===================Premier bloc de media querry de la page index html==============================*/
 
  /* Cette règle est applicable pour le mobile*/
@media (max-width: 600px) {
    /*Pemiere partie pour la barre qui contient le logos et les icones*/
    #PremierBar{
    padding: 2.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   #PremierBar div h1{
    font-size: clamp(0.2rem , 2vh, 1.3rem);
    margin-top: 1rem;
    max-width: 20rem;
    text-align: center;
    flex-wrap: wrap;
   }

    #PremierBar div p{
    font-size: clamp(0.1rem , 2vh, 1.3rem);
    margin-top: 1rem;
    max-width: 15rem;
    flex-wrap: wrap;
    text-align: center;
   }

   #ContainerReseauxSociaux ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: center;
    margin-top: 2rem;

   }

   #ContainerReseauxSociaux ul li a{
    
     font-size: clamp(0.9rem, 1vh, 1.4rem);
     text-align: end;
     color: darkred;
   }

   #ContainerLogo img{ 

        height: 20rem;
        width: 35rem;
        display: block;
        background-size: cover;
   }

 /*Deuxième partie pour la barre qui contient le menu*/
   nav ul{
    
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    

   }

   nav ul li a{
    
    font-size: clamp(0.9rem, 1vh, 1.4rem);

   }

   /*Troixième partie pour styliser le logo*/

    #hero img{
        
    height: 20rem;
    width: 100%;
    
    }

    /*Quatrième partie pour styliser la classe de la section1*/
  .Section1 h2{

    font-size: clamp(1.2rem, 1vh, 1.4rem);
    margin-bottom: 0.2rem;
    margin-top: 0.6rem;
  }
  
    
  .Section1 p{

    font-size: clamp(1rem, 1vh, 1.4rem);
    margin-top: 0.4rem;
  }
  /*pour styliser la partie div2*/
   #div2 h2{ 

    font-size: clamp(1.2rem, 1vh, 1.2rem);

    }
  /*pour styliser la section2*/
    #Section2 img{ 

     height: 10rem;
     width: 10rem;

    }
    /*pour styliser la partie div3*/
    .div3 h2, h3{ 

     font-size: clamp(1.2rem, 1vh, 1.2rem);
     padding: 1rem;

    }
    /*pour styliser la partie section4*/
    #Section4 img{ 

     height: 8rem;
     width: 10rem;

    }

    #div4 #img1{ 

     width: 28rem;
     height: 25rem;

    }

     /*pour styliser la partie div4*/
    #div4 #img2{ 

     width: 25rem;
     height: 20rem;

    }
    /*pour styliser la partie div5*/
    #div5 h4{ 

     font-size: clamp(1.2rem, 1vh, 1.2rem);
     padding: 1rem;

    }
     
     /*pour styliser la partie div6*/
    #div6 div p
    {
      font-size: clamp(1rem, 1vh, 1.4rem);
      margin-top: 0.4rem;
      max-width: 55rem;
      text-align: justify;
       
    }

    
    #div6 div img
    {
      
     width: 30rem;
     height: 3rem;
     border-style: none;
     border-radius: 0;
     max-width: 100%;
    }

    #div6 div #pe{

      font-size: clamp(1rem, 1vh, 1.4rem);
      margin-top: 0.4rem;
      max-width: 65rem;
      text-align: justify;
    }
   
     /*pour styliser la partie Enfantdelanature*/
    #EnfantNature div img{

        width: 28rem;
        height: 10rem;
        flex-wrap: wrap;
        border-style: none;
        border-radius: 0;
        padding: 4rem;
        
        
    }

    #EnfantNature div p{
      
      font-size: clamp(1.2rem, 1vh, 1.4rem);
      max-width: 65rem;
      text-align: justify;
      margin-top: 0.5rem;
      margin-bottom: 7rem;

    }
    /*pour styliser la partie div8*/
    #div8 h3{
      
     font-size: clamp(1.2rem, 1vh, 1.2rem);
      padding: 1rem;
      text-align: center;
    }
    
     /*pour styliser la partie footer*/
    #PetitContainerFooter1{

        justify-content: space-between;
        
    }

     #PetitContainerFooter1 p{

      font-size: clamp(0.7rem, 1vh, 2rem);
      padding: 1rem;
      max-width: 14rem;
        
    }

    #PetitContainerFooter1 ul li{

      font-size: clamp(0.7rem, 1vh, 2rem);
      max-width: 14rem;
    
    }

    #PetitContainerFooter1 ul{

      margin-top: 1rem;
    
    }

}
/*==============================Fin du bloc de media querry de la page index html pour telephone=======================*/

/* Cette règle est applicable pour tablette*/
@media (max-width: 768px) {
   
}

/* Cette règle est applicable pour laptop*/
@media (max-width: 1024px) {
   
}

/*==============================Fin du bloc de media querry de la page index html=======================*/
 
/*===================Premier bloc de media querry de la page index html==============================*/
 
  /* Cette règle est applicable pour le mobile*/

  @media (max-width: 600px) {

   

  }